:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --black-color: #000000;
  --primary-white-color: #ffffff;
  --second-background-color: #f5f4fa;
  --dark-background-color: #2f303a;
  --second-white-color: rgba(255, 255, 255, 0.6);
  --button-hover-color: #188ce8;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.03em;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  /* outline: 2px solid red; */
}

/* --------header-------- */

.header {
  border-bottom: 1px solid #ececec;
}

.header-container {
  display: flex;
  align-items: center;
}

.logo {
  color: var(--black-color);
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  margin-right: 93px;
}

.accent {
  color: var(--accent-color);
}

.nav-list {
  display: flex;
  gap: 50px;
}

.nav-list .current {
  color: var(--accent-color);
}

.nav-link {
  display: block;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  padding: 32px 0;
}

.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}

.contact {
  display: flex;
  margin-left: auto;
  gap: 30px;
  align-items: center;
}

.contact-link {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  padding: 32px 0;
}

.contact-icon {
  fill: var(--primary-text-color);
  margin-right: 10px;
}

.contact-link:hover svg,
.contact-link:focus svg {
  fill: var(--accent-color);
}

.contact-link:hover,
.contact-link:focus {
  color: var(--accent-color);
}

/* --------hero----------- */

.hero {
  max-width: 1600px;
  height: 600px;
  margin-right: auto;
  margin-left: auto;
  background-color: var(--dark-background-color);
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/Img-hero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-title {
  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin: 0 auto;
  margin-bottom: 30px;
  width: 696px;
}

.button {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  border-color: transparent;
  border-radius: 4px;
  letter-spacing: 0.06em;
  cursor: pointer;
  padding: 10px 32px;
}

.button:hover,
.button:focus {
  background-color: var(--button-hover-color);
}

/* --------feature---------- */

.feature-section {
  padding-top: 94px;
  padding-bottom: 47px;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.feature-list {
  display: flex;
  gap: 30px;
}

.feature-item {
  width: 270px;
}

.feature-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  background-color: var(--second-background-color);
  border-radius: 4px;
  margin-bottom: 33px;
}

.feature-icon {
  display: block;
  text-align: center;
}

.feature-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.feature-text {
  font-size: 14px;
  line-height: 1.71;
}

/* ----------work------------ */

.work-section {
  padding-top: 47px;
  padding-bottom: 94px;
}
.section-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin-bottom: 50px;
}

.work-list {
  display: flex;
  gap: 30px;
}

.work-item {
  width: calc((100%-60px) / 3);
}

img {
  display: block;
  max-width: 100%;
}

/* -----------team----------- */

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.team-list {
  display: flex;
  gap: 30px;
}

.team {
  background-color: var(--second-background-color);
}

.team-item {
  background-color: var(--primary-white-color);
  width: calc((100%-90px) / 4);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-title {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 10px;
}

.team-text {
  font-size: 16px;
  line-height: 1.19;
}

.item-container {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
  gap: 10px;
}
.team-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
}

.team-link:hover,
.team-link:focus {
  background-color: var(--accent-color);
  border-radius: 50%;
}

.team-link:hover svg,
.team-link:focus svg {
  fill: var(--primary-white-color);
}

.team-icon {
  fill: #afb1b8;
}

/* -----------clients------------ */

.clients-list {
  display: flex;
  gap: 30px;
}

.clients-item {
  background-color: var(--primary-white-color);
  width: calc((100%-150px) / 6);
}

.clients-link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
}

.clients-icon {
  fill: #afb1b8;
}
.clients-link:focus,
.clients-link:hover {
  border: 1px solid var(--accent-color);
}

.clients-link:focus svg,
.clients-link:hover svg {
  fill: var(--accent-color);
}

/* -----------footer------------ */

.footer {
  background-color: var(--dark-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-logo {
  display: block;
  color: var(--primary-white-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  margin-bottom: 20px;
}

.footer-address {
  color: var(--primary-white-color);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
}

.footer-address:hover,
.footer-address:focus {
  color: var(--accent-color);
}

.footer-link {
  color: var(--second-white-color);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
}

.footer-link:hover,
.footer-link:focus {
  color: var(--accent-color);
}

.footer-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-container {
  display: flex;
}

.socials-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  color: var(--primary-white-color);
  margin-bottom: 20px;
  padding-top: 12px;
}

.footer-socials {
  margin-left: 70px;
}

.socials-wrap {
  display: flex;
}

.socials-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  margin-right: 10px;
}

.socials-link:hover,
.socials-link:focus {
  background-color: var(--accent-color);
}

.socials-icon {
  fill: var(--primary-white-color);
}

/* ------------ portfolio ------------- */

.portfolio-list {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 50px;
}

.portfolio-button {
  color: var(--title-text-color);
  background-color: var(--second-background-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  border-color: transparent;
  border-radius: 4px;
  cursor: pointer;
  padding: 6px 22px;
  min-width: 73;
}

.portfolio-button:hover,
.portfolio-button:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

.project-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.project-link {
  text-decoration: none;
  color: inherit;
  width: calc((100%-60px) / 3);
}

.project-container {
  padding: 20px 24px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

.project-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.project-text {
  font-size: 16px;
  line-height: 1.88;
}
